@media (max-width: 768px) {
  .posts {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-content {
    padding: 1rem;
  }
}

@media (max-width: 489px) {
  .post {
    align-items: center;
    max-width: 100%;
  }
}

@media (max-width: 355px) {
  .header {
    width: 100%;
  }
  .navigation {
    padding-left: 1px;
    width: 100%;
  }
}
